<template>
	<header class="site-header bzg bzg--no-gutter">
		<button class="ham-btn bg-black80" @click="openSidebar">
			<i class="bzi-bars text-white"></i>
		</button>
		<Logo />
		<div class="bzg_c header-content text-right" data-col="s2,m2">
			<a
				href="https://github.com/suitmedia/generator-suit-baze"
				class="text-white header-link"
				target="_blank"
			>
				<i class="bzi-github"></i
			></a>
		</div>
	</header>
</template>

<script>
export default {
	name: 'Header',
	props: { sidebarShowed: Boolean },
	methods: {
		openSidebar() {
			this.$emit('openSidebar', !this.sidebarShowed)
		}
	}
}
</script>

<style lang="scss">
.site-header {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ff6700;
	box-shadow: $shadow;
	color: white;
	.ham-btn {
		border: none;
		width: 54px;
		@media #{$medium} {
			display: none;
		}
		&:focus {
			background-color: #4d4d4d;
		}
	}
	i {
		font-size: 20px;
	}
	.header-content {
		padding: 8px 16px 0 8px;
	}
	.header-link {
		color: #fff;

		&:hover {
			color: $black20;
		}
	}
	@media #{$medium} {
		.header-content {
			padding: 5px 16px 3px 8px;
		}
	}
	@media #{$large} {
		height: 55px;
	}
}
</style>
