<template>
	<footer class="site-footer">&copy; 2022 Suitmedia</footer>
</template>

<script>
export default {
	name: 'Footer'
}
</script>

<style lang="scss" scoped>
.site-footer {
	margin-left: 5%;
	@media #{$medium} {
		margin-left: 22%;
	}
}
</style>
