<template>
	<div class="mb-24">
		<h2 class="text-suitmedia">Justified Tabs</h2>
		<div class="tabs tabs-justified">
			<div
				v-for="(item, index) in items"
				:key="index"
				class="tab"
				:class="activeTab == item ? 'active' : ''"
				@click="changeTab(item)"
			>
				TAB {{ index + 1 }}
			</div>
		</div>
		<div v-for="(item, index) in items" :key="index" class="tabs__content">
			<div v-if="item == activeTab">{{ item }}</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'JustifiedTabs',
	data() {
		return {
			activeTab: 'item 1',
			items: ['item 1', 'item 2', 'item 3', 'item 4']
		}
	},
	methods: {
		changeTab(tab) {
			this.activeTab = tab
		}
	}
}
</script>
