<template>
	<div class="header-content bzg_c" data-col="s8,m10">
		<h3 class="ml-12 mb-8">
			<nuxt-link to="/" class="site-logo text-white header-link">
				<img src="~static/baze-flat-icon.png" alt="" width="35" class="mr-12" />
				Suitbaze
			</nuxt-link>
		</h3>
	</div>
</template>

<style lang="scss">
.header-link {
	&:hover {
		color: $black20;
	}
}
</style>
