<template>
	<div
		v-if="pokemon.name.includes(searchName)"
		class="pokemon bzg_c mb-12 flex flex-column v-center"
		data-col="s6, m3"
	>
		<img
			:src="pokemon.sprites.front_default"
			alt=""
			width="96"
			loading="lazy"
		/>
		<p class="mb-2">#{{ pokemon.id }}</p>
		<p class="h5 text-semibold text-primary mb-2">{{ pokemon.name }}</p>
		<div class="types">
			<span v-for="(type, index) in pokemon.types" :key="index">
				{{ type.type.name }}
			</span>
		</div>
	</div>
</template>
<script>
export default {
	name: 'Pokemon',
	props: {
		pokemon: {
			type: Object,
			default: () => {}
		},
		searchName: { type: String, default: () => {} }
	}
}
</script>
<style lang="scss" scoped></style>
