<template>
	<div class="sidebar-container">
		<div class="sidebar" :class="sidebarShowed ? 'show' : ''">
			<ul class="menus list-nostyle">
				<li
					:class="activeTab == 'headings' ? 'active' : ''"
					@click="changeTab('headings')"
				>
					<nuxt-link to="/headings" class="link-black60"> Headings </nuxt-link>
				</li>
				<li
					:class="activeTab == 'colors' ? 'active' : ''"
					@click="changeTab('colors')"
				>
					<nuxt-link to="/colors" class="link-black60"> Colors </nuxt-link>
				</li>
				<li
					:class="activeTab == 'lists' ? 'active' : ''"
					@click="changeTab('lists')"
				>
					<nuxt-link to="/lists" class="link-black60"> Lists </nuxt-link>
				</li>
				<li
					:class="activeTab == 'text-alignment' ? 'active' : ''"
					@click="changeTab('text-alignment')"
				>
					<nuxt-link to="/text-alignment" class="link-black60">
						Text Alignment
					</nuxt-link>
				</li>
				<li
					:class="activeTab == 'buttons' ? 'active' : ''"
					@click="changeTab('buttons')"
				>
					<nuxt-link to="/buttons" class="link-black60"> Buttons </nuxt-link>
				</li>
				<li
					:class="activeTab == 'alert' ? 'active' : ''"
					@click="changeTab('alert')"
				>
					<nuxt-link to="/alert" class="link-black60"> Alert </nuxt-link>
				</li>
				<li
					:class="activeTab == 'card' ? 'active' : ''"
					@click="changeTab('card')"
				>
					<nuxt-link to="/card" class="link-black60"> Card </nuxt-link>
				</li>
				<li
					:class="activeTab == 'media-object' ? 'active' : ''"
					@click="changeTab('media-object')"
				>
					<nuxt-link to="/media-object" class="link-black60">
						Media Object
					</nuxt-link>
				</li>
				<li
					:class="activeTab == 'grid' ? 'active' : ''"
					@click="changeTab('grid')"
				>
					<nuxt-link to="/grid" class="link-black60"> Grid </nuxt-link>
				</li>
				<li
					:class="activeTab == 'table' ? 'active' : ''"
					@click="changeTab('table')"
				>
					<nuxt-link to="/table" class="link-black60"> Table </nuxt-link>
				</li>
				<li
					:class="activeTab == 'form' ? 'active' : ''"
					@click="changeTab('form')"
				>
					<nuxt-link to="/form" class="link-black60"> Form </nuxt-link>
				</li>
				<li
					:class="activeTab == 'tabs' ? 'active' : ''"
					@click="changeTab('tabs')"
				>
					<nuxt-link to="/tabs" class="link-black60"> Tabs </nuxt-link>
				</li>
				<li
					:class="activeTab == 'pagination' ? 'active' : ''"
					@click="changeTab('pagination')"
				>
					<nuxt-link to="/pagination" class="link-black60">
						Pagination
					</nuxt-link>
				</li>
				<li
					:class="activeTab == 'pokemons' ? 'active' : ''"
					@click="changeTab('pokemons')"
				>
					<nuxt-link to="/pokemons" class="link-black60"> Pokemons </nuxt-link>
				</li>
			</ul>
		</div>
		<div
			v-if="sidebarShowed"
			class="sidebar-overlay"
			@click="closeSidebar"
		></div>
	</div>
</template>
<script>
export default {
	name: 'Sidebar',
	props: { sidebarShowed: Boolean },
	data() {
		return {
			activeTab: 'headings'
		}
	},
	methods: {
		closeSidebar() {
			this.$emit('closeSidebar', false)
		},
		changeTab(currTab) {
			this.activeTab = currTab
			this.closeSidebar()
		}
	}
}
</script>
<style lang="scss" scoped>
.sidebar {
	position: fixed;
	z-index: 2;
	width: 215px;
	height: 100%;
	transform: translateX(-100%);
	padding-top: 60px;
	border-right: 1px solid $black20;
	background-color: white;
	box-sizing: border-box;
	box-shadow: none;
	overflow-y: scroll;
	transition: all 300ms ease;

	&::-webkit-scrollbar {
		width: 5px;
	}
	/* Track */
	&::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background: transparent;
	}

	&:hover {
		&::-webkit-scrollbar-thumb {
			background: $black20;
		}
		&::-webkit-scrollbar-thumb:hover {
			background: $black30;
		}
	}
	.menus {
		li {
			padding: 10px 25px;
			cursor: pointer;
			a {
				display: inline-block;
				width: 100%;
			}
		}
		.active {
			background-color: $black10;
		}
	}

	@media #{$medium} {
		box-shadow: 1px 1px 5px 1px $black10;
		transform: translateX(0);
	}
}
.sidebar.show {
	transform: translateX(0);
	transition: all 300ms ease;
}
.sidebar-overlay {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	@media #{$medium} {
		display: none;
	}
}
</style>
