.alert {
	margin: 15px 0;
	padding: 8px 16px;
	background-color: #f0f0f0;
	border: 1px solid;
}
.alert--popup {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 20%;
	background-color: rgba(0, 0, 0, 0.4);
	.alert--popup-content {
		position: relative;
		width: 80%;
		margin: 0 auto;
	}
	.alert--close {
		text-align: right;
		position: absolute;
		top: 5px;
		right: 15px;
		cursor: pointer;
	}
}
@mixin alertStyle($color, $shade: dark) {
	@extend .alert;

	@if $shade == dark {
		color: $color;
		border: 1px solid $color;
		background-color: lighten($color, 33%);
	} @else {
		color: darken($color, 33%);
		border: 1px solid darken($color, 33%);
		background-color: $color;
	}
}

@each $state, $color in $palettes {
	.alert--#{$state} {
		@include alertStyle($color);
	}
}
@each $state, $color in $light-palettes {
	.alert--#{$state} {
		@include alertStyle($color, light);
	}
}
