.progress-bar {
	position: relative;
	overflow: hidden;
	background: rgba(lighten($suitmedia, 40%), 0.3);
	border-radius: 4px;

	.bar {
		display: block;
		height: 4px;
		background: $suitmedia;
		border-radius: 4px;

		@media #{$medium} {
			height: 8px;
		}
	}
}

.hash-container {
	background-color: rgba(lighten($suitmedia, 40%), 0.2);
	padding: 14px 16px;
}

.card-group {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 100%;
	& > .card {
		flex: 1;
	}
	@media #{$medium} {
		flex-direction: row;
	}
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	margin-left: 12px;
	img {
		width: 100%;
	}
	.card--body,
	.card--header,
	.card--footer {
		padding: 8px 16px;
	}
	.card--body {
		flex: 1;
	}
	.card--footer {
		background-color: $black20;
	}
}

@mixin cardStyle($bg, $color: white, $shade: dark) {
	@extend .card;
	background-color: $bg;
	color: $color;
	.card--header,
	.card--footer {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		background-color: darken($bg, 15%);
	}
}

@each $state, $color in $palettes {
	.card--#{$state} {
		@include cardStyle($color);
	}
}
@each $state, $color in $light-palettes {
	.card--#{$state} {
		@include cardStyle($color, black, light);
	}
}
