.tab-nav {
	border-bottom: 1px solid $black10;

	ul {
		display: flex;
	}

	ul li a {
		display: flex;
		align-items: center;
		padding: 8px 12px 3px;
		border-bottom: 5px solid transparent;
		color: $black60;

		.counter {
			display: inline-block;
			font-size: 75%;
			line-height: 1;
			padding: 3px 4px 2px;
			background: $suitmedia;
			color: #fff;
			margin-left: 8px;
			vertical-align: middle;
			border-radius: 9px;
			transform: translateY(-2px);
		}

		&.is-active {
			color: $suitmedia;
			border-bottom-color: $suitmedia;
		}

		@media #{$medium} {
			padding: 20px 12px 15px;
		}
	}
}

.tabs {
	display: flex;
	.tab {
		padding: 5px 20px;
		cursor: pointer;
	}

	.tab.active {
		color: $primary;
		border-bottom: 2px solid $primary;
	}
}
.tabs-justified {
	.tab {
		flex-grow: 1;
		text-align: center;
	}
}
