<template>
	<div id="app" class="sticky-footer-container">
		<div class="sticky-footer-container-item">
			<Header
				v-if="this.$route.path !== '/'"
				:sidebar-showed="isShowed"
				@openSidebar="isShowed = $event"
			/>
		</div>
		<div class="sticky-footer-container-item --pushed wrapper">
			<Sidebar
				v-if="this.$route.path !== '/'"
				:sidebar-showed="isShowed"
				@closeSidebar="isShowed = $event"
			/>

			<nuxt />
		</div>
		<div class="sticky-footer-container-item">
			<Footer v-if="this.$route.path !== '/'" />
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			isShowed: false
		}
	}
}
</script>
<style lang="scss"></style>
