<template>
	<div class="site-main">
		<div class="container">
			<div class="mb-24">
				<h2 class="text-suitmedia">Alert</h2>
				<div class="alert">Alert default</div>
				<div class="alert--primary">Alert primary</div>
				<div class="alert--secondary">Alert secondary</div>
				<div class="alert--warning">Alert warning</div>
				<div class="alert--danger">Alert danger</div>
				<div class="alert--black">Alert black</div>
				<div class="alert--light-grey">Alert light-grey</div>
				<div class="alert--white">Alert white</div>
			</div>
			<hr class="mb-24" />
			<div class="mb-24">
				<h2 class="text-suitmedia">Alert Box</h2>
				<button class="btn--primary" @click="alertPopup('alert1')">
					Alert 1
				</button>
				<button class="btn--primary" @click="alertPopup('alert2')">
					Alert 2
				</button>

				<div
					v-if="alert == 'alert1'"
					id="alert1"
					class="alert--popup"
					@click="alertPopup('')"
				>
					<div class="alert--primary alert--popup-content">
						<div class="alert--close js-alert-close" @click="alertPopup('')">
							<h4>x</h4>
						</div>
						<h4>Lorem Ipsum!</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident,
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<hr />
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
							qui obcaecati tempora. Quod, nesciunt culpa sunt sit itaque
							voluptate molestiae in quia quos quam tempora sequi illo
							molestias? Rerum, sit?
						</p>
					</div>
				</div>

				<div
					v-if="alert == 'alert2'"
					id="alert2"
					class="alert--popup"
					@click="alertPopup('')"
				>
					<div
						class="alert--danger alert--popup-content"
						@click="alertPopup('')"
					>
						<div class="alert--close js-alert-close"><h4>x</h4></div>
						<h4>Number 2</h4>
						<p>Test Number 2</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			alert: ''
		}
	},
	methods: {
		alertPopup(activeAlert) {
			this.alert = activeAlert
		}
	}
}
</script>
