<template>
	<div class="site-main">
		<div class="container">
			<div class="buttons mb-24">
				<h2 class="text-suitmedia">Buttons</h2>
				<p>
					<button class="btn--primary">Button Color</button>
					<button class="btn--ghost-primary">Button Color</button>
					<button class="btn--flat-primary">Button Color</button>
				</p>
				<p>
					<button class="btn--secondary">Button Color</button>
					<button class="btn--ghost-secondary">Button Color</button>
					<button class="btn--flat-secondary">Button Color</button>
				</p>
				<p>
					<button class="btn--warning">Button Color</button>
					<button class="btn--ghost-warning">Button Color</button>
					<button class="btn--flat-warning">Button Color</button>
				</p>
				<p>
					<button class="btn--danger">Button Color</button>
					<button class="btn--ghost-danger">Button Color</button>
					<button class="btn--flat-danger">Button Color</button>
				</p>
				<p>
					<button class="btn--black">Button Color</button>
					<button class="btn--ghost-black">Button Color</button>
					<button class="btn--flat-black">Button Color</button>
				</p>
				<p>
					<button class="btn--light-grey">Button Color</button>
					<button class="btn--ghost-light-grey">Button Color</button>
					<button class="btn--flat-light-grey">Button Color</button>
				</p>
				<p>
					<button class="btn--white">Button Color</button>
					<button class="btn--ghost-white">Button Color</button>
					<button class="btn--flat-white">Button Color</button>
				</p>
			</div>
			<hr class="mb-24" />
			<div class="button-size mb-24">
				<h2 class="text-suitmedia">Button Sizing</h2>
				<p>
					<button class="btn--primary btn--small">Small Button</button>
					<button class="btn--ghost-primary btn--small">Small Button</button>
					<button class="btn--flat-primary btn--small">Small Button</button>
				</p>
				<p>
					<button class="btn--primary">Normal Button</button>
					<button class="btn--ghost-primary">Normal Button</button>
					<button class="btn--flat-primary">Normal Button</button>
				</p>
				<p>
					<button class="btn--primary btn--large">Large Button</button>
					<button class="btn--ghost-primary btn--large">Large Button</button>
					<button class="btn--flat-primary btn--large">Large Button</button>
				</p>
			</div>
			<hr class="mb-24" />
			<div class="button-icon-only mb-24">
				<h2 class="text-suitmedia">Icon-only Buttons</h2>
				<p>
					<button class="btn--primary btn--small btn--icon">
						<i class="bzi-search"></i>
					</button>
					<button class="btn--ghost-black btn--small btn--icon">
						<i class="bzi-close"></i>
					</button>
					<button class="btn--flat-light-grey btn--small btn--icon">
						<i class="bzi-user"></i>
					</button>
				</p>
				<p>
					<button class="btn--primary btn--icon">
						<i class="bzi-user"></i>
					</button>
					<button class="btn--ghost-black btn--icon">
						<i class="bzi-search"></i>
					</button>
					<button class="btn--flat-light-grey btn--icon">
						<i class="bzi-close"></i>
					</button>
				</p>
				<p>
					<button class="btn--primary btn--large btn--icon">
						<i class="bzi-close"></i>
					</button>
					<button class="btn--ghost-black btn--large btn--icon">
						<i class="bzi-user"></i>
					</button>
					<button class="btn--flat-light-grey btn--large btn--icon">
						<i class="fas fa-search fa-lg"></i>
					</button>
				</p>
			</div>
			<hr class="mb-24" />
			<div class="button-icon-text">
				<h2 class="text-suitmedia">Icon + Text Buttons</h2>
				<p>
					<button class="btn--primary btn--small">
						Search <i class="bzi-search"></i>
					</button>
					<button class="btn--ghost-black btn--small">
						<i class="bzi-close"></i> Cancel
					</button>
					<button class="btn--flat-light-grey btn--small">
						Profile <i class="bzi-user"></i>
					</button>
				</p>
				<p>
					<button class="btn--primary"><i class="bzi-user"></i> Profile</button>
					<button class="btn--ghost-black">
						Search <i class="bzi-search"></i>
					</button>
					<button class="btn--flat-light-grey">
						<i class="bzi-close"></i> Cancel
					</button>
				</p>
				<p>
					<button class="btn--primary btn--large">
						Cancel <i class="bzi-close"></i>
					</button>
					<button class="btn--ghost-black btn--large">
						<i class="bzi-user"></i> Profile
					</button>
					<button class="btn--flat-light-grey btn--large">
						<i class="bzi-search"></i> Search
					</button>
				</p>
			</div>
		</div>
	</div>
</template>
