<template>
	<div class="site-main">
		<div class="container">
			<div class="text-color mb-24">
				<h2 class="text-suitmedia">Text Color</h2>
				<p class="text-primary">Text class color = ".text-primary"</p>
				<p class="text-secondary">Text class color = ".text-secondary"</p>
				<p class="text-warning">Text class color = ".text-warning"</p>
				<p class="text-danger">Text class color = ".text-danger"</p>
				<p class="text-black">Text class color = ".text-black"</p>
				<p class="text-grey">Text class color = ".text-grey"</p>
				<p class="text-white">Text class color = ".text-white"</p>
			</div>
			<hr class="mb-24" />
			<div class="background-color mb-24">
				<h2 class="text-suitmedia">Background Color</h2>
				<p class="bg-primary">Background class color = ".bg-primary"</p>
				<p class="bg-secondary">Background class color = ".bg-secondary"</p>
				<p class="bg-warning">Background class color = ".bg-warning"</p>
				<p class="bg-danger">Background class color = ".bg-danger"</p>
				<p class="bg-black">Background class color = ".bg-black"</p>
				<p class="bg-grey">Background class color = ".bg-grey"</p>
				<p class="bg-white">Background class color = ".bg-white"</p>
			</div>
			<hr class="mb-24" />
			<div class="black-tone">
				<h2 class="text-suitmedia">Black Tones</h2>
				<p class="text-black10">
					Black tone = ".text-black10" ($black10)
					<span class="bg-black10">___</span>
				</p>
				<p class="text-black20">
					Black tone = ".text-black20" ($black20)
					<span class="bg-black20">___</span>
				</p>
				<p class="text-black30">
					Black tone = ".text-black30" ($black30)
					<span class="bg-black30">___</span>
				</p>
				<p class="text-black40">
					Black tone = ".text-black40" ($black40)
					<span class="bg-black40">___</span>
				</p>
				<p class="text-black50">
					Black tone = ".text-black50" ($black50)
					<span class="bg-black50">___</span>
				</p>
				<p class="text-black60">
					Black tone = ".text-black60" ($black60)
					<span class="bg-black60">___</span>
				</p>
				<p class="text-black70">
					Black tone = ".text-black70" ($black70)
					<span class="bg-black70">___</span>
				</p>
				<p class="text-black80">
					Black tone = ".text-black80" ($black80)
					<span class="bg-black80">___</span>
				</p>
				<p class="text-black90">
					Black tone = ".text-black90" ($black90)
					<span class="bg-black90">___</span>
				</p>
				<p class="text-black">
					Black tone = ".text-black" ($black)
					<span class="bg-black">___</span>
				</p>
			</div>
			<hr class="mb-24" />
			<div class="link-color">
				<h2 class="text-suitmedia">Link Color</h2>
				<p>
					Link color = <a class="link-primary" href="#">".link-primary"</a> (<a
						href="#"
						class="link-primary"
						>Default link color</a
					>)
				</p>
				<p>
					Link color = <a class="link-secondary" href="#">".link-secondary"</a>
				</p>
				<p>Link color = <a class="link-warning" href="#">".link-warning"</a></p>
				<p>Link color = <a class="link-danger" href="#">".link-danger"</a></p>
				<p>Link color = <a class="link-black" href="#">".link-black"</a></p>
				<p>
					Link color =
					<a class="link-light-grey" href="#">".link-light-grey"</a>
				</p>
				<p>Link color = <a class="link-white" href="#">".link-white"</a></p>
			</div>
		</div>
	</div>
</template>
//
<style lang="scss" scoped></style>
