<template>
	<div class="site-main">
		<div class="container">
			<div class="headings mb-24">
				<h2 class="text-suitmedia">Heading</h2>
				<h1>Heading 1</h1>
				<h2>Heading 2</h2>
				<h3>Heading 3</h3>
				<h4>Heading 4</h4>
				<h5>Heading 5</h5>
				<h6>Heading 6</h6>
			</div>
			<hr class="mb-24" />
			<div class="headings-style">
				<h2 class="text-suitmedia">Heading Style</h2>
				<p class="h1">Text size adjust h1</p>
				<p class="h2">Text size adjust h2</p>
				<p class="h3">Text size adjust h3</p>
				<p class="h4">Text size adjust h4</p>
				<p class="h5">Text size adjust h5</p>
				<p class="h6">Text size adjust h6</p>
			</div>
			<hr class="mb-24" />
		</div>
	</div>
</template>
<style lang="scss" scoped></style>
