<template>
	<main class="index">
		<div class="index-header mb-16">
			<img src="~static/baze-flat-icon.png" alt="" class="mr-16" />
			Baze UI
		</div>
		<div class="index-main flex flex-column v-center">
			<img src="~static/apple-icon.png" alt="" class="mb-24" />
			<p class="h3 text-center mb-36">
				A minimal setup for your frontend environment
			</p>
			<div class="buttons flex h-center">
				<nuxt-link to="/headings" class="mr-24"
					><button class="btn--suitmedia">GET STARTED</button></nuxt-link
				>
				<nuxt-link to="/">
					<button class="btn--ghost-white">DOWNLOAD</button></nuxt-link
				>
			</div>
		</div>
		<div class="index-footer pt-36 text-center">
			<span class="mr-16">Version 2.20.0</span>
			|
			<span class="ml-16">Powered by: Suitmedia.com</span>
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {}
	}
	// head() {
	// 	return {
	// 		...this.$SEOMeta({
	// 			metaTitle: 'SuitBaze Documentations'
	// 		})
	// 	}
	// }
}
</script>

<style lang="scss" scoped>
.index {
	position: relative;
	color: white;
	background: #555555;
	flex: 1;

	.index-header {
		font-size: 22px;
		font-weight: bold;
		padding: 20px 50px;
	}
	.index-main {
		width: 40%;
		margin: 80px auto;
		letter-spacing: 2px;
		.buttons {
			width: 100%;
			a {
				width: 40%;
				button {
					width: 100%;
				}
			}
		}
		img {
			width: 125px;
			height: 125px;
		}
	}
	.index-footer {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		font-size: 14px;
		padding: 20px 0;
	}
}
</style>
