<template>
	<div class="site-main">
		<div class="container">
			<div class="lists mb-24">
				<h2 class="text-suitmedia">Lists</h2>
				<h5>Ordered List</h5>
				<ol>
					<li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
					<li>
						Optio ea illum inventore dicta iusto quam pariatur perspiciatis,
					</li>
					<li>
						similique animi dolorum ducimus vel nemo quibusdam
						<ol type="a">
							<li>nam aliquam</li>
							<li>nam aliquam</li>
						</ol>
					</li>
					<li>aliquid eveniet molestiae nostrum?</li>
				</ol>
			</div>
			<hr class="mb-24" />
			<div class="unordered-list mb-24">
				<h5>Unordered List</h5>
				<ul>
					<li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
					<li>
						Optio ea illum inventore dicta iusto quam pariatur perspiciatis,
					</li>
					<li>
						similique animi dolorum ducimus vel nemo quibusdam
						<ul>
							<li>nam aliquam</li>
							<li>nam aliquam</li>
						</ul>
					</li>
					<li>aliquid eveniet molestiae nostrum?</li>
				</ul>
			</div>
			<hr class="mb-24" />
			<div class="inline-list mb-24">
				<h5>Inline List</h5>
				<ol class="list-inline">
					<li>Lorem ></li>
					<li>Ipsum ></li>
					<li>Dolor</li>
				</ol>
			</div>
			<hr class="mb-24" />
			<div class="no-style mb-24">
				<h5>No Style List</h5>
				<ul class="list-nostyle">
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
					<li>
						Incidunt magni consequatur adipisci officiis vero placeat
						consectetur
					</li>
					<li>
						id facere,
						<ul>
							<li>molestiae in,</li>
							<li>ducimus necessitatibus hic ad esse consequuntur</li>
						</ul>
					</li>
					<li>dignissimos sequi illum doloremque.</li>
				</ul>
			</div>
			<hr class="mb-24" />
		</div>
	</div>
</template>
