<template>
	<div class="site-main">
		<div class="container">
			<div class="mb-24">
				<h2 class="text-suitmedia">Pagination</h2>
				<ol class="pagination">
					<li>
						<a href="#">&lt;</a>
					</li>
					<li><a class="is-active" href="#">1</a></li>
					<li><a href="#" disabled>2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li>
						<a href="#">&gt;</a>
					</li>
				</ol>
			</div>
			<hr class="mb-24" />
			<div class="mb-24">
				<h2 class="text-suitmedia">Left Pagination</h2>
				<ol class="pagination--left">
					<li>
						<a href="#">&lt;</a>
					</li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li>
						<a href="#">&gt;</a>
					</li>
				</ol>
			</div>
			<hr class="mb-24" />
			<div class="mb-24">
				<h2 class="text-suitmedia">Right Pagination</h2>
				<ol class="pagination--right">
					<li>
						<a href="#">&lt;</a>
					</li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li>
						<a href="#">&gt;</a>
					</li>
				</ol>
			</div>
			<hr class="mb-24" />
		</div>
	</div>
</template>
