<template>
	<div class="site-main">
		<div class="container">
			<div class="mb-24">
				<h2 class="text-suitmedia">Pokemons</h2>
				<p class="text-grey f-14">*Only show 100 Pokemon results</p>
				<form class="filter mb-24" @submit.prevent="getPokemon()">
					<span class="mr-8">Filter By</span>
					Name: <input v-model="searchName" type="text" class="mb-10" />
					Type:
					<select v-model="searchType" name="" class="mb-12">
						<option value="">All</option>
						<option
							v-for="(type, index) in types"
							:key="index"
							:value="type.name"
						>
							{{ type.name.charAt(0).toUpperCase() + type.name.slice(1) }}
						</option>
					</select>
					<!-- </div> -->

					<button type="submit">Go!</button>
				</form>
				<div v-if="isLoading">Loading...</div>
				<div v-else class="mb-24 bzg">
					<Pokemon
						v-for="(pokemon, index) in pokemons"
						:key="index"
						:pokemon="pokemon"
						:search-type="searchType"
						:search-name="searchName"
						:is-loading="isLoading"
					/>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			searchType: '',
			searchName: '',
			types: [],
			pokemons: [],
			isLoading: false
		}
	},
	async fetch() {
		const resType = await fetch('https://pokeapi.co/api/v2/type')
		const dataType = await resType.json()

		// LIMIT POKEMON TO 100
		this.getPokemon()
		this.types = dataType.results
	},
	methods: {
		changeTab(tab) {
			this.searchType = tab
		},
		async getPokemon() {
			this.isLoading = true
			this.searchName = ''
			if (this.searchType === '') {
				const res = await fetch('https://pokeapi.co/api/v2/pokemon?limit=100')
				const data = await res.json()
				this.pokemons = await Promise.all(
					data.results.map(async result => {
						const res = await fetch(result.url)
						const data = await res.json()
						return data
					})
				)
			} else {
				const res = await fetch(
					`https://pokeapi.co/api/v2/type/${this.searchType}`
				)
				const data = await res.json()
				const pokemons = data.pokemon.slice(0, 100).map(poke => {
					return poke.pokemon
				})
				this.pokemons = await Promise.all(
					pokemons.map(async pokemon => {
						const res = await fetch(pokemon.url)
						const data = await res.json()
						return data
					})
				)
			}
			this.isLoading = false
		}
	}
}
</script>
<style lang="scss" scoped>
.filter {
	display: flex;
	flex-direction: column;
	@media #{$medium} {
		flex-direction: row;
		justify-content: center;
		input,
		select {
			margin: 0 24px 0 12px;
		}
		select {
			widows: 100%;
		}
	}
}
</style>
