<template>
	<div class="site-main">
		<div class="container">
			<div class="mb-24">
				<h2 class="text-suitmedia">Table</h2>
				<div class="table-wrapper">
					<table class="table">
						<thead>
							<tr>
								<th>Header 1</th>
								<th>Header 2</th>
								<th>Header 3</th>
								<th>Header 4</th>
								<th>Header 5</th>
								<th>Header 6</th>
								<th>Header 7</th>
								<th>Header 8</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Row 2 Col 1</td>
								<td>Row 2 Col 2</td>
								<td>Row 2 Col 3</td>
								<td>Row 2 Col 4</td>
								<td>Row 2 Col 5</td>
								<td>Row 2 Col 6</td>
								<td>Row 2 Col 7</td>
								<td>Row 2 Col 8</td>
							</tr>
							<tr>
								<td>Row 3 Col 1</td>
								<td>Row 3 Col 2</td>
								<td>Row 3 Col 3</td>
								<td>Row 3 Col 4</td>
								<td>Row 3 Col 5</td>
								<td>Row 3 Col 6</td>
								<td>Row 3 Col 7</td>
								<td>Row 3 Col 8</td>
							</tr>
							<tr>
								<td>Change</td>
								<td>Window</td>
								<td>size</td>
								<td>to see</td>
								<td>Table</td>
								<td>Wrapper</td>
								<td>in</td>
								<td>action!</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<hr class="mb-24" />
			<div class="mb-24">
				<h2 class="text-suitmedia">Data Table</h2>
				<table
					class="js-datatable mb-4"
					data-table="https://reqres.in/api/users?page=1&per_page=12"
				>
					<thead>
						<tr>
							<th>ID</th>
							<th>First Name</th>
							<th>Last Name</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</template>
